<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
</style>
html,body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto',sans-serif;
}
.button{
  width:66px;
  padding:20px;
  margin:0 3px;
  border: 10px pink;
  border-radius:10px;
  cursor:pointer;
}
.row{
  margin:5px 0;
}
.row input{
  font-size:23px;
  margin:0;
  padding:15px 15px ;
  border: 10px pink;
  border-radius:10px;
}